.App {
  text-align: center;
  background: #0a4861;
background: linear-gradient(90deg,rgba(10, 72, 97, 1) 0%, rgba(53, 94, 63, 1) 50%, rgba(10, 72, 97, 1) 100%);

}
.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.card{
width:420px;
height: 100%;
min-height: 460px;
border: 1px solid #0a4861;
border-radius: 10px;
background: linear-gradient(90deg,rgba(10, 72, 97, 1) 0%, rgba(53, 94, 63, 1) 50%, rgba(10, 72, 97, 1) 100%);
box-shadow:  0 4px 15px rgba(219, 209, 209, 0.308);
overflow: hidden;
}
.info{
  padding: 20px;
}
